.MovieCard {
  /*  */
}

.MovieTitle {
  margin: 0 0 20px;
  text-align: center;
}

.MovieInfo {
  display: flex;
  margin-bottom: 20px;
}

.aboutTitle {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #009688;
}

.about {
  margin-left: 20px;
}
